<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Producto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <!--? <input placeholder="Category" formControlName="categoryId" matInput type="text"> -->
              <mat-label>Category</mat-label>
              <mat-select formControlName="categoryId">
                <!--? le estamos indicando que nos muestre el nombre pero el valor que asigna por detras al campo es el id, ya que es el q necesitamos para guardar en la api -->
                <mat-option [value]="category.id" *ngFor="let category of categories">{{category.name}}</mat-option>
                <!--? Super util!!! -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
          <!--? <input placeholder="Category" formControlName="categoryId" matInput type="text"> -->
              <mat-label>States</mat-label>
              <mat-select formControlName="states">
                <!-- le estamos indicando que nos muestre el nombre pero el valor que asigna por detras al campo es el id, ya que es el q necesitamos para guardar en la api -->
                <mat-option [value]="state" *ngFor="let state of states">{{state.name}}</mat-option>
          <!--? Aqui estamos usando ngValue(en este caso terminamos usando value ya que estamos usando mat-option pero si usaramos otro componente que no sea material tendria que ser ngValue) ya que lo que vamos a guardar no es un valor especifico si no un objeto completo que pertenece al array states -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Title" formControlName="title" matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Price" formControlName="price" matInput type="number">
            </mat-form-field>
            <div *ngIf="priceField.errors && priceField.dirty">
              <p *ngIf="priceField.hasError('price_invalid')">no te debes pasar de 10000</p>
              <p *ngIf="priceField.hasError('required')">el campo es requerido</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <textarea placeholder="Text" formControlName="description" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
      </mat-card-actions>
    </mat-card>

  </form>
